
/* début css démineur */

#grille {
    width: 800px;
    height: 720px;
    border: 1px;
    border: 1px solid #999;
    display: grid;
    /* 1fr signifie "une fraction de la largeur de la grille", le repeat dit "9 cases" 
       égales à une fraction (1/9ème) Voir https://css-tricks.com/snippets/css/complete-guide-grid/ */
    grid-template-columns: repeat(9, 1fr);
    /* Pour contraindre la hauteur des lignes */
    grid-auto-rows: 80px;
}

#grille div {
    border: 2px solid rgba(0, 0, 0, 1);
    transition: 0.5s all;
    display: grid;
    background-color: rgba(100, 100, 100, 0.5);
}


#grille div:hover {
    background-color: yellow;
}

.caseClick {
    background-color: chartreuse;
}


/* fin css démineur */


/* début css motfléchés */

#grilleMF {
    width: 921px;
    height: 720px;
    border: 1px;
    display: grid;
    /* 1fr signifie "une fraction de la largeur de la grille", le repeat dit "9 cases" 
       égales à une fraction (1/9ème) Voir https://css-tricks.com/snippets/css/complete-guide-grid/ */
    grid-template-columns: repeat(11, 1fr);
    /* Pour contraindre la hauteur des lignes */
    grid-auto-rows: 80px;
}

#grilleMF div {
    border: 2px solid rgba(0, 0, 0, 1);
    transition: 0.5s all;
    display: grid;
    width : 80px;
    text-align: center;
}

#grilleMF div:hover {
    /*background-color: pink;*/
}

.haut{
    position: inherit;
    top : 0;
    font-size:10px;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.bas{
    position: inherit;
    bottom : 0;
    font-size:10px;
    border: none;
}

.divIndice{
    font-size:10px;
}

#grilleMF div .haut:hover{
    background-color: red;
}

#grilleMF div .bas:hover{
    background-color: blue;
}

.caseARemplir{
    font-size:60px;
    color: red;
}

.caseSelectionne{
    background-color:blueviolet;
}

.marqueLettre{
    background-color: orange;
    pointer-events: none;
}
/* fin css motfléchés */
#banner1{
    display: block;
    background-color: rgb(0, 80, 0);
    height: 1000px;
    width: 100%;
}
#banner1 p{
     font-size: 30px;
    position: relative;
    padding-top: 10px;
    text-align: center;
    margin: 0;
}
#banner2{
    display: block;
    
}
#banner2 p{
    font-size: 20px;
   position: relative;
   padding-top: 10px;
   text-align: justify;
   text-decoration-color: black;
   margin: 0;
}


h2{
    color: black;
}
h1{
    color: black;
    text-align: center;
    padding-top: 40px;
   
}
.titreRegles{
    padding:20px;
}
.regles{
    padding:30px;
}
.blockRegles{
    padding:50px;

}
.textRegles{
    background-color:rgb(187, 185, 183);
    width: 100%;
    height: 100%;
    padding: 15px;
}
body{
    margin: 0;
    background-image:url(assets/images/demineur/fondecrant.png) ;
}
footer{
    margin: 0 auto;
    position:fixed;
    bottom: 0%;
    display:inline;
    text-align: center;
    width: 100%;
    background-color: rgb(240, 236, 236);
}


.demineur{
    position: relative;
    top:250px;
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
    display: inline-block;
    background-color: cornsilk;
    height: 300px;
    width: 300px;
    color: black;
    
}
.motFleches{
    position: relative;
    top:250px;
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
    display: inline-block;
    background-color: cornsilk;
    height: 300px;
    width: 300px;
    color: black;

}
.imageAcceuil{
    margin-left: 350px;
    top: 100px;
    position: relative;
    height:400px;
    width: 400px;
    border: solid black;
    transition: transform .2s
}
.imageAcceuil:hover{
    transform: scale(1.1);
}